@import "~@angular/material/core/theming/prebuilt/deeppurple-amber.css";

body {
    background-color: gray;
}

.main-bg {
    background-color: antiquewhite;
}

md-card {
    background-color: white;
}

.centered {
    margin-top: 5%;
    width: 80%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
}

.left-right {
    display: inline-flex;
}

.content-container {
    width: 100%;
    height: 1000px;
    position: relative;
    overflow: hidden;

    /* Enable GPU Rendering */
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.blur {
    /* All the background image supports */
    transform: translate(0px, 0px, 0px);
    background-image: url("https://i.loli.net/2020/03/11/pexQE78c9ktZGi5.jpg");
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 100%;


    /* blur filters */
    -webkit-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(20px);

    /* positioning and removing edges */
    top: -70px;
    right: -70px;
    left: -70px;
    padding: 70px;
}
